body{
 	background: black;
 }
 nav{

	display: flex;
	justify-content: center;
	border-bottom: 5px solid red;
	padding: 10px

}
nav ul {
	/*display flex sirve para colocar horizontalmente las palabras que estan dentro de nav ul en este caso*/
	display: flex;
 	list-style: none;
 	margin: 0;

}
nav ul li  {
	padding:  0 15px;
	border-right: 2px solid red;

	
}

nav a{
color: red;
text-decoration: none;

}

h2{
	color:red;
	text-align: center;
}

*{
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;

}
form{
	padding: 10px 10px;
	background-color: black; 
	margin: calc(25% + 100px);
	margin-top: 1px;
	padding-top: 28px;
	margin-bottom: 38px;
}
input{
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
}
input[type='submit']{
	background-color: red;
	color: black;
	width: calc(50% - 20px);
	margin:0 10%;
	margin-top: 22px;
	border: none;

}
textarea {
	
	width: 470px;
	height: 110px;
	font: 14px normal normal uppercase helvetica, arial, serif;
}
